@font-face{
    font-family : "donjon";
    src : url("./donjon_0.ttf");
}

*{
    pointer-events : none;
    cursor : none;
    margin : 0;
    padding : 0;
    font-weight : normal;
    border : none;
    font-family : "donjon";
    font-size : 16px;
    line-height : 16px;
    box-sizing : border-box;
    scrollbar-color: #fff #888;
    scrollbar-width: 0.5rem;

}

body{
    background-color : #000;
    color : #fff;
}
input {
    width : 100%;
    background-color : #808;
    color : white;
    padding-left : 8px;
    padding-right : 8px;
    text-overflow : ellipsis;
}
button {
    width : 100%;
    background-color : #066;
    color : white;
    border-right : solid 8px #088;
    border-left : solid 8px #044;
}
header {
    text-transform : uppercase;
    text-align : center;
    letter-spacing : 2px;
}
.shortcut{
    color : #0FF;
}
.shortcut:before{
    content : '[';
}
.shortcut:after{
    content : ']';
}
body > article {
    flex : 1;
    height : 100vh;
}

.organ, #controls {
    margin-bottom : 16px;
}
.organ {
    display : inline-block;
}
header .shortcut{
}
body > article > section {
    height : calc( 100% - 16px);
}
body > article#controls > section > article, body > article > section > article > section > article {
    display : flex;
    background-color : #008;
}
#import_export{
    margin-bottom : 1rem;
}
div.name {
    padding-left : 8px;
    padding-right : 8px;
    max-width :13rem;
    min-width :13rem;
    width     :13rem;
}
div.value{
    display : none;
    background-color : #fff;
    border-left : solid 8px #888;
    max-width :13rem;
    min-width :13rem;
    width     :13rem;
    color : black;
}
body > article > section > article > div > input {
    flex : 1;
}
section{
    background-color : black;
    padding : 32px 16px 32px 16px;
}
section section {
    padding : 0px 0px 0px 0px;
    background-color : #444;
    border-color : #222;
    
}
header {
    background-color : #666;
    padding-left : 8px;
}
.organ.focus header {
    background-color : #440 !important;
}
.to_activate{
    color : #0f0;
    padding-left : 8px;
}
.to_activate:before{
    content:'*'
}
#apply,#undo,#clear{

    display : inline-block;
    width : calc(100% / 3);
}
.organ header {

    background-color : #066;
    color : white;
    border-right : solid 8px #088;
    border-left : solid 8px #044;
}
.organ input {
    background-color : #444;
}
.focus, .focus > * {
    background-color : #880;
    border-color : #FF0 !important;
}
.activated, .activated > * {
    background-color : #080 !important;
    border-color : #0F0 !important;
}
